[user]
    name = Jorge Mancheno
    email = git@jorgemancheno.com
[alias]
    aa = !git ls-files -d | xargs -r git rm && git ls-files -m -o --exclude-standard | xargs -r git add
    br = branch
    ci = commit -a
    co = checkout
    cp = cherry-pick
    df = diff
    dc = diff --cached
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset%s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    ls = ls-files
    ign = ls-files -o -i --exclude-standard
    st = status
[core]
    whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
    excludesfile = ~/.gitignore
    attributesfile = ~/.gitattributes
    autocrlf = input
    editor = subl -n -w
[apply]
    whitespace = fix
[color]
    ui = always
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[branch]
    autosetupmerge = true
[merge]
    log = true
    tool = opendiff
[push]
    default = current
[credential]
    helper = osxkeychain
